@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
 
@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    font-family: Outfit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
    min-height: 100vh;
    background-color: #fcfcfc;
 }
